@media (min-width: 540px) {
    main {
        img {
            margin: 0;
            width: 100%;
        }
    }
}

@mixin grid {
    align-items: center;
    display: grid;
    gap: 100px;
}

@media (min-width: 1024px) {
    header {
        .container {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        .menu {
            background: transparent;
            color: #fff;
            cursor: pointer;
            display: flex;
            height: auto;
            padding: 0;
            top: 0;
            position: relative;
            width: max-content;
            li {
                margin: 0 50px 0 0;
                position: relative;
                &+li {
                    margin-top: 0;
                }
                ul {
                    background: #fff;
                    border-radius: 5px;
                    display: none;
                    margin-left: 0;
                    position: absolute;
                    left: 0;
                }
                &>ul li {
                    border-bottom: 1px solid #c7c8ca;
                    display: block;
                    padding: 15px 30px 15px;
                    width: 100%;
                    &::after {
                        background: none;
                    }
                }
                &:hover {
                    &>ul {
                        display: block;
                        li:hover {
                            background: #EE769A;
                            transition: all 0.3s ease-in-out;
                            a {
                                color: #fff;
                            }
                        }
                    }
                    &:after {
                        transform: translateY(-50%) scaleY(-1);
                    }
                }
                &::after {
                    background: url(../img/scroll.svg) no-repeat;
                    background-size: contain;
                    content: '';
                    height: 6px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.3s ease-in-out;
                    width: 10px;
                    right: -16px
                }
                &:last-child::after {
                    background: none;
                }
            }
        }
        .landing-logo {
            margin: 0;
        }
        .menu-burger {
            display: none;
        }
    }
    main {
        .welcome {
            @include grid;
            grid-template-columns: 1fr 1fr;
            .landing-btn {
                padding: 20px 67px;
                width: max-content;
            }
            &::before {
                width: 100%;
            }
        }
        .firstProduct {
            @include grid;
            grid-template-areas: "text img";
            &-img {
                grid-area: img;
            }
            &-text {
                grid-area: text;
            }
        }
        .secondProduct {
            @include grid;
            grid-template-columns: 1fr 1fr;
        }
        .other {
            &::before {
                background: url(../img/slim1.png) no-repeat;
                background-size: contain;
                content: '';
                height: 120%;
                left: -10%;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                width: 300px;
                z-index: 0;
            }
            &::after {
                background: url(../img/girl1-2x.png) no-repeat;
                background-size: contain;
                content: '';
                height: 100%;
                left: -4%;
                position: absolute;
                top: 70%;
                transform: translateY(-50%);
                width: 248px;
                z-index: 2;
            }
        }
        .form {
            margin: 150px 0 22px;
            padding: 48px 130px 100px;
            z-index: 1;
            h3 {
                font-size: 24px;
                line-height: 130%;
                margin: 30px 0 10px;
                text-align: left;
            }
            input {
                width: 100%;
                padding: 20px 50px;
                height: 75px;
            }
            &-btn {
                margin: 100px 0 0;
            }
            &::before {
                background: url(../img/girl2-2x.png) no-repeat;
                background-size: contain;
                content: '';
                height: 100%;
                left: 86%;
                top: 27%;
                position: absolute;
                width: 260px;
                z-index: 2;
            }
            &::after {
                bottom: auto;
                top: 50%;
                transform: translateY(-50%);
                max-width: none;
                width: 170px;
                height: 120%;
                right: -10%;
            }
        }
        .discount {
            padding: 20px 40px;
            right: 0;
            top: 5%;
            z-index: 1;
            p {
                font-size: 24px;
                line-height: 150%;
            }
        }
        .timer {
            text-align: center;
            width: 100%;
            &__wrapper {
                display: flex;
                justify-content: center;
            }
            .timerDo {
                margin-right: 7px;
            }
        }
        .fixed-block {
            display: flex;
            justify-content: space-between;
            padding: 35px 60px;
            h2 {
                color: #fff;
                font-size: 24px;
            }
            p {
                color: #D20F26;
                font-size: 18px;
            }
            img {
                display: block;
                width: 147px;
                height: 250px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &__btn {
                padding: 16px 120px;
            }
            &__close {
                right: 6%;
            }
        }
    }
    .footer {
        padding: 50px 0 200px;
        &-logo {
            margin: 180px 0;
            width: 780px;
        }
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 52.9391px;
        line-height: 79px;
    }
    h2 {
        font-size: 64px;
        line-height: 78px;
    }
    h3 {
        font-size: 32px;
        line-height: 48px;
    }
    p {
        font-size: 32px;
        line-height: 48px;
    }
}